repo/x86_64/
repo/any/
repo/i686/
repo/lastupdate
repo/pkdinfo.db
repo/*/*.log
repo/*/*.zst
repo/*/*.sig
repo/*/*.gz
repo/*/pkg
repo/*/src
repo/*/*.deb
repo/uuid/ossp-uuid/
repo/uuid/uuid-aarch64.patch
